# nautobot_chatops
SLACK_API_TOKEN=xoxb-...
SLACK_SIGNING_SECRET=...
# SLACK_SLASH_COMMAND_PREFIX=/
MICROSOFT_APP_ID=...
MICROSOFT_APP_PASSWORD=...
WEBEX_TEAMS_ACCESS_TOKEN=...
WEBEX_TEAMS_SIGNING_SECRET=...
MATTERMOST_API_TOKEN="5qsffxoapt883qfdygbdgf17jy"
POSTGRES_PASSWORD=notverysecurepwd
REDIS_PASSWORD=notverysecurepwd
SECRET_KEY=r8OwDznj!!dci#P9ghmRfdu1Ysxm0AiPeDCQhKE+N_rClfWNj
NAUTOBOT_CREATE_SUPERUSER=true
NAUTOBOT_SUPERUSER_API_TOKEN=0123456789abcdef0123456789abcdef01234567
NAUTOBOT_SUPERUSER_PASSWORD=admin
NAUTOBOT_TOWER_PASSWORD="password"

GRAFANA_API_KEY=""
