[MASTER]

load-plugins=pylint_django

[MISCELLANEOUS]

# Removed TODO as that is something we used to comment on things that need to
# still be done within the code
notes=FIXME,
      XXX,

[MESSAGE CONTROL]
# Pylint and Black disagree about certain line continuations
# Black handles line-too-long for us
# All of the other disabled messages need to be revisited and
# most likely re-enabled and fixed in the code base.
disable=
  bad-continuation,
  line-too-long,
  abstract-method,                # TODO
  arguments-differ,               # TODO
  attribute-defined-outside-init, # TODO
  bare-except,                    # TODO
  consider-iterating-dictionary,  # TODO
  f-string-without-interpolation, # TODO
  invalid-name,                   # TODO
  logging-fstring-interpolation,  # TODO
  missing-class-docstring,        # TODO
  missing-function-docstring,     # TODO
  missing-module-docstring,       # TODO
  no-else-return,                 # TODO
  no-self-use,                    # TODO
  redefined-outer-name,           # TODO
  reimported,                     # TODO
  too-few-public-methods,         # TODO
  too-many-ancestors,             # TODO
  too-many-branches,              # TODO
  too-many-instance-attributes,   # TODO
  too-many-locals,                # TODO
  too-many-return-statements,     # TODO
  too-many-statements,            # TODO
  undefined-all-variable,         # TODO
  ungrouped-imports,              # TODO
  unnecessary-pass,               # TODO
  unused-argument,                # TODO
  wrong-import-order,             # TODO
  raise-missing-from,             # TODO
  django-not-configured,          # TODO

[DESIGN]

# Default setting is max-args=5
max-args=6
# Default setting is max-public-methods=20
max-public-methods=22

[SIMILARITIES]

# Don't call it "duplicate code" just because two files have the same set of import headers
ignore-imports=yes

# Increase "duplicate code" lines to 12 from default 4.
# Choose 12 per Josh VanDerra
min-similarity-lines=12
