[MASTER]

load-plugins=pylint_django

[MISCELLANEOUS]

# Removed TODO as that is something we used to comment on things that need to
# still be done within the code
notes=FIXME,
      XXX,

[MESSAGE CONTROL]
# Pylint and Black disagree about certain line continuations
# Black handles line-too-long for us
# All of the other disabled messages need to be revisited and
# most likely re-enabled and fixed in the code base.
disable=django-not-configured

[DESIGN]

# Default setting is max-args=5
max-args=6
# Default setting is max-public-methods=20
max-public-methods=22

[SIMILARITIES]

# Don't call it "duplicate code" just because two files have the same set of import headers
ignore-imports=yes

# Increase "duplicate code" lines to 12 from default 4.
# Choose 12 per Josh VanDerra
min-similarity-lines=12

[FORMAT]

#Changing the max line length to 120
max-line-length=120
